<h1><%= member.name %></h1>

<table>
  <tr>
    <td>Address:</td>
    <td><%= member.address %></td>
  </tr>
  <tr>
    <td>Email:</td>
    <td><%= member.email %></td>
  </tr>
  <tr>
    <td>Phone:</td>
    <td><%= member.phone %></td>
  </tr>
  <tr>
    <td>Credit Card:</td>
    <td><%= member.credit_card %></td>
  </tr>
</table>
